{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h2 class="page-header">Checkout</h2>

                <form method="post" action=".">
                        {% csrf_token %}
                      
                        {% for hidden_field in form.hidden_fields %}
                          {{ hidden_field }}
                        {% endfor %}
                      
                        {% if form.non_field_errors %}
                          <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                              {{ error }}
                            {% endfor %}
                          </div>
                        {% endif %}
                      
                        {% for field in form.visible_fields %}
                          <div class="form-group">
                            {{ field.label_tag }}
                      
                            {% if form.is_bound %}
                              {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                  <div class="invalid-feedback">
                                    {{ error }}
                                  </div>
                                {% endfor %}
                              {% else %}
                                {% render_field field class="form-control is-valid" %}
                              {% endif %}
                            {% else %}
                              {% render_field field class="form-control" %}
                            {% endif %}
                      
                            {% if field.help_text %}
                              <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                          </div>
                        {% endfor %}
                      
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>


            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Your Order
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.quantity }} x {{ item.product.name }}
                        <span>Ghc. {{ item.total_price }}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Total Cost: Ghc. {{ cart.get_total_price }}</li>
                </ul>
                <br>

                <div>
                  <h3> Mobile Money Payment</h3>
                  <h5>You can make your Mobile Money Payment to the following Number:</h5>
                  <p><i class="fas fa-phone">: +233 54541 8699 </i> </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}